{{pkg.name}}
============

{{pkg.description}}


{{#each examples}}
+ [{{titlecase name}}](#{{spinalcase name}})
{{/each}}


{{#each examples}}
<a name="{{spinalcase name}}"></a>
{{titlecase name}}
-------

{{#each files}}
**[{{name}}](./{{path}})**

```{{{type}}}
{{{read path}}}
```
{{/each}}


{{/each}}